
@{
    ViewBag.Title = "DanhSachHocBong";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Active = "DanhSachHocBong";
}


<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Danh sách học bổng</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="row align-items-center">
            <div class="form-row col-md-7">
                <div class="col-md-4 mb-3">
                    @Html.DropDownList("MaHK_NH", new SelectList(QuanLySinhVien.Models.BUS.HocKy_NamHocBUS.DanhSachHocKy(), "MaHK_NH", "TenHK_NH"), "--Chọn học kỳ--", htmlAttributes: new { @class = "form-control", @id = "HocKy_NamHoc", @style = "text-align: center" })
                </div>
                <div class="col-md-2 mb-3 top-nav-search">
                    <button class="btn" type="submit" id="btnXem"><i class="fas fa-search">Xem</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Mã sinh viên</th>
                                    <th>Họ sinh viên</th>
                                    <th>Tên sinh viên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Lớp</th>
                                </tr>
                            </thead>
                            <tbody id="tbSV_HB">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnXem').click(function () {
                var MaHK_NH = $('#HocKy_NamHoc').val();
                DanhSachSV_HB(MaHK_NH);
            });
        });

        function DanhSachSV_HB(MaHK_NH) {
            $.ajax({
                url: "/HocBong/DanhSachSV_HB",
                type: 'post',
                data: { MaHK_NH: MaHK_NH },
                success: function (data) {
                    let display = '';
                    $.each(data.dsSV_HB, function (index, item) {
                        display += '<tr><td>' + item.MaSV + '</td>';
                        display += '<td><h2 class="table-avatar"><a href="/SinhVien/ChiTietSinhVien?masv=' + item.MaSV + '">' + item.HoSV + '</a></h2></td>';
                        display += '<td><h2 class="table-avatar"><a href="/SinhVien/ChiTietSinhVien?masv=' + item.MaSV + '">' + item.TenSV + '</a></h2></td>';
                        display += '<td>' + item.GioiTinh + '</td>';
                        display += '<td>' + item.NgaySinh + '</td>';
                        display += '<td>' + item.TenLop + '</td>';
                    });
                    $('#tbSV_HB').html(display);
                }
            });
        }
    </script>

}